.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rnw
*.docx
*.tex
signature.png
chapters/
tables/
thesis.pdf
thesis.lof
thesis.log
thesis.lot
thesis.out
thesis.tex
thesis.toc
Unterschrift.jpg
thesis.Rproj
.remake/